<div class="dropdown-user-status totally-hidden">
    <div class="dropwdown-menu">
        <ul class="all_status">
            <li class="d-flex align-items-center current_status">
                <i class="fas fa-circle status-<%=current_user.status%> mr-2"></i>
                <p class="mb-0"><%= current_user.status.capitalize %></p>
            </li>
            <% if current_user.status != 'offline' %>
                <%= link_to user_offline_path(current_user) do %>
                    <li>
                            <i class="fas fa-circle status-offline mr-2"></i>
                            Offline
                    </li>
                <% end %>
            <% end %>
            <% if current_user.status != 'absent' %>
                <%= link_to user_absent_path(current_user) do %>
                    <li>
                            <i class="fas fa-circle status-absent mr-2"></i>
                            Absent
                    </li>
                <% end %>
            <% end %>
            <% if current_user.status != 'idle' %>
                <%= link_to user_idle_path(current_user) do %>
                    <li>
                            <i class="fas fa-circle status-idle mr-2"></i>
                            Idle
                    </li>
                <% end %>
            <% end %>
            <% if current_user.status != 'online' %>
                <%= link_to user_online_path(current_user) do %>
                    <li>
                        <i class="fas fa-circle status-online mr-2"></i>
                            Online
                    </li>
                <% end %>
            <% end %>

            <%= link_to profile_path(current_user.username) do %>
                <li>Profile</li>
            <% end %>
        </ul>
    </div>
</div>