<div class="home-page d-flex">
    <!-- SIDEBAR MENU -->
    <div id="sidebar-col">
        <div class="menu">
            <h4>Discover</h4>
            <div class="d-flex align-items-center home-item mt-3">
                <i class="fas fa-compass"></i>
                <p class="mb-0 ml-2">Home</p>
            </div>
            <!--- CATEGORIES LIST PARTIAL -->
            <%= render 'chatrooms/categories_list' %>
        </div>
        <div class="user-info d-flex align-items-center">
            <%= cl_image_tag current_user.avatar.key, class: 'avatar-xs mr-3' %>
            <div class="username-avatar flex-grow-1">
                <i class="fas fa-circle status status-<%=current_user.status%>"></i>
                <%= link_to profile_path(current_user.username) do %>
                    <p class="mb-0 link-profile"><%= current_user.username %></p>
                <% end %>
                <p class="text-white-50 mb-0"><small>#<%= current_user.id %></small></p>
            </div>
            <i class="fas fa-cog settings"></i>
        </div>
        <!-- DROPDOWN PARTIAL -->
        <%= render 'chatrooms/dropdown' %>
    </div>

    <!--- MAIN CONTENT -->
    <div id="main-content-col">
        <!-- BANNER -->
        <div class="banner text-center">
            <div class="banner-content">
                <h2 class="font-weight-bolder title-banner">Welcome back, <%= current_user.username %></h2>
                <p class="banner-description font-weight-light">Chat with people all over the world about literally anything!</p>
                <form class="banner-form d-flex justify-content-center align-items-center">
                    <input type="text" placeholder="Explore communities" class="px-3"> <button class="banner-form-btn"><i class="fas fa-search"></i></button>
                </form>
                <div class="d-flex justify-content-center mt-5">
                    <%= link_to new_chatroom_path do %>
                        <button class="create-chat-btn">Create a chat</button>
                    <% end %>
                    <button class="explore-btn">Explore</button>
                </div>
            </div>
        </div>

        <!-- NEWEST CHATROOM -->
        <h5 class="font-weight-bolder mt-5">New communities</h5>
        <%= link_to latest_chat do %>
            <div class="latest-chat-card d-flex align-items-center">
                <%= cl_image_tag latest_chat.photo.key %>
                <div class="card-content w-50">
                    <p class="new-tag">NEW</p>
                    <div class="chat-name d-flex align-items-center mb-3">
                        <i class="fas fa-check-circle mr-2 tick-icon"></i>
                        <p class="font-weight-bolder mb-0"><%= latest_chat.name %></p>
                    </div>
                    <div class="chat-description text-white-50">
                        <p><%= latest_chat.description %></p>
                    </div>

                    <div class="card-tags mt-4">
                        <p class="message-tag mr-2"><%= pluralize(latest_chat.messages.count, 'message') %></p>
                        <p class="category-tag">#<%= latest_chat.category %></p>
                    </div>
                    <p class="text-white-50 mt-3 mb-0"><small>Created <%= latest_chat.created_at.strftime("%d/%m/%y") %></small></p>
                </div>
            </div>
        <% end %>
        
        <!-- CHATROOM CARDS -->
        <h5 class="font-weight-bolder mt-5 popular-communities">Popular communities</h5>
        <div class="cards">
            <% @chatrooms.sample(12).each do |chat| %>
                <!--- CARDS GRID PARTIAL --->
                <%= render 'chatrooms/chat_cards', chat: chat %>
            <% end %>
        </div>

        <div class="explore-more text-center mt-5">
            <i class="fas fa-compass compass mb-2"></i>
            <p class="mb-0">There are a lot more communities!</p>
            <%= link_to "Let's explore.", all_chats_path, class: 'text-primary' %>
        </div>

        <!-- NEW CHATROOM FORM -->
       <%= simple_form_for @chatroom, url: chatrooms_path, remote: true do |f| %>
            <div class="row justify-content-center" id="new-chat-row">
                <div class="col-lg-5" id="new-chat-form" style="background: #36393F">
                    <%= f.input :name, label: 'NAME', placeholder: 'Forest Gump'%>
                    <%= f.input :description, label: 'DESCRIPTION', placeholder: 'Are you a fan of Forest Gump? What are you waiting for? Join the chat group!' %>
                    <%= f.input :category, collection: Chatroom::CATEGORIES, label: 'CATEGORY', placeholder: 'programming', include_blank: 'Select a category' %>
                    <%= f.input :photo, as: :file, label: false, class: 'd-flex justify-content-center' %>
                    <%= f.submit "Let's chat!", class: 'btn btn-create-chat w-100 mt-4' %>
                </div>
            </div>
        <% end %>
    </div>
</div>