<h1><%= @chatroom.name %></h1>
<div class="row mt-5" id=chatroom>
    <div class="col-lg-2 col-sm-12 border rounded py-4 px-4">
        <p class="mb-4">Users</p>
        <% @users.each do |user| %>
            <li class="user-list <%= user == current_user ? 'text-dark font-weight-bolder' : 'text-secondary' %>">
                <%= user.username %>
            </li>
        <% end %>
    </div>
    <div class="col-lg-10 col-sm-12" id="chatbox">
        <%# <h4 class="mb-2 py-4">Chatroom</h4> %>
        <div class="chat-messages" id="messages">
            <!--- MESSAGE LIST PARTIAL --->
            <% @messages.each do |message| %>
                <%= render 'messages/message', message: message %>
            <% end %>
        </div>
        <!-- FORM PARTIAL -->
        <%= render 'chatrooms/form' %>
    </div>
</div>