<div class="chatroom-page d-flex" id=chatroom data-chatroom-id="<%=@chatroom.id%>">
    <div id="sidebar-col">
        <%= cl_image_tag @chatroom.photo.key, class: 'chat-img' %>
        <div class="name-description">
            <h4><%= @chatroom.name %></h4> 
            <p class="text-white-50 description"><%= @chatroom.description %></p>
        </div>
    </div>
    <div id="main-content-col" id="chatbox">
        <%# <h4 class="mb-2 py-4">Chatroom</h4> %>
        <div class="chat-messages" id="messages">
            <!--- MESSAGE LIST PARTIAL --->
            <% @messages.each do |message| %>
                <%= render 'messages/message', message: message %>
            <% end %>
        </div>
        <!-- FORM PARTIAL -->
        <%= render 'chatrooms/form' %>
    </div>
</div>