<%= simple_form_for @user, url: users_path do |f| %>
    <%= f.input :username, label: 'USERNAME' %>
    <%= f.input :password, label: 'PASSWORD' %>
    <%= f.input :photo, as: :file, label: 'AVATAR' %>
    <small class="form-text text-muted">We'll never share your password with anyone else.</small>
    <%= f.submit 'Signup', class: 'btn btn-primary mt-3 sign-up-btn' %>
    <div class="d-flex align-items-center mt-3">
        <p class="text-white-50 mb-0 mr-2">Do you already have an account?</p> <%= link_to 'Login', login_path, class: 'w-25 login-btn font-weight-bolder' %>
    </div>
<% end %>  