<nav class="navbar navbar-expand-lg text-white" style="background: #36393F;">
    <div class="container">
        <%= link_to 'Message me', root_path, class: 'navbar-brand' %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <% if logged_in? %>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Chatrooms </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <% get_chatrooms.sample(4).each do |chat| %>
                                    <%= link_to "#{chat.name}", chat, class: 'dropdown-item my-2' %>
                                <% end %>
                            </div>
                    </li>
                <% end %>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Profile </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <% if logged_in? %>
                            <%= link_to 'Logout', logout_path, method: :delete, class: 'dropdown-item' %>
                        <% else %>
                            <%= link_to 'Log in', login_path, class: 'dropdown-item' %>
                            <div class="dropdown-divider"></div>
                            <%= link_to 'Sign up', signup_path, class: 'dropdown-item' %>
                        <% end %>
                    </div>
                </li>
                <% if !logged_in? %>
                    <li class="nav-item">
                        <%= link_to 'Sign Up', signup_path, class: 'nav-link' %>
                    </li>
                <% end %>
            </ul>
            <% if !logged_in? %>
                <%= link_to 'Log in', login_path, class: 'btn btn-outline-light my-2 my-sm-0 nav-login' %>
            <% else %>
                <%= link_to 'Logout', logout_path, method: :delete, class: 'btn btn-outline-light my-2 my-sm-0 nav-logout' %>
            <% end %>
            <% if logged_in? && current_user.avatar.attached? %>
                <%= cl_image_tag current_user.avatar.key, class: 'avatar-xs ml-2' %>
            <% end %>
        </div>
    </div>
</nav>