<!-- RESULTS PAGE -->
<body style="background: #36393F">
    <div class="explore-page d-flex">
        <!-- SIDEBAR -->
        <div id="sidebar-col">
            <div class="menu">
                <h4 class="text-white">Discover</h4>
                <%= link_to root_path do %>
                    <div class="d-flex align-items-center home-item mt-3">
                        <i class="fas fa-compass"></i>
                        <p class="mb-0 ml-2">Home</p>
                    </div>
                <% end %>
                <!--- CATEGORIES LIST PARTIAL -->
                <%= render 'chatrooms/categories_list' %>
            </div>
            <div class="user-info d-flex align-items-center">
                <%= cl_image_tag current_user.avatar.key, class: 'avatar-xs mr-3' %>
                <div class="username-avatar flex-grow-1">
                    <i class="fas fa-circle status status-<%=current_user.status%>"></i>
                    <%= link_to profile_path(current_user.username) do %>
                        <p class="mb-0 link-profile"><%= current_user.username %></p>
                    <% end %>
                    <p class="text-white-50 mb-0"><small>#<%= current_user.id %></small></p>
                </div>
                <i class="fas fa-cog settings"></i>
            </div>
            <!-- DROPDOWN PARTIAL -->
            <%= render 'chatrooms/dropdown' %>
        </div>

        <!-- MAIN CONTENT -->
        <div id="main-content-col">
            <h4 class="font-weight-bolder text-white-50"><span><%= link_to '<i class="fas fa-arrow-left text-white-50 mr-4 arrow-icon"></i>'.html_safe, root_path %><span> No results found... :(</h4>
            <form class="explore-form">
                <input type="text" placeholder="Explore communities" class="mt-3 explore-form-input"> 
                <button class="banner-form-btn explore-form-btn"><i class="fas fa-search"></i></button>
            </form>
            <ul class="list-tags mt-2">
                <% @CATEGORIES.each do |category| %>
                    <li><p class="mb-0"><%= category.capitalize %></p></li>
                <% end %>
            </ul>
            <div class="search-results mt-5">
                <% @chatrooms.each do |chatroom|  %>
                    <%= link_to chatroom do %>
                        <div class="result-card d-flex align-items-center">
                            <%= cl_image_tag chatroom.photo.key, class: 'result-card-img' %>
                            <div class="card-content">
                                <%= cl_image_tag chatroom.photo.key, class: 'avatar-xs mb-2' %>
                                <div class="d-flex align-items-center">
                                    <i class="fas fa-check-circle mr-2 tick-icon"></i>
                                    <p class="mb-0 chat-name"><%= chatroom.name%></p>
                                </div>
                                <p class="text-white-50 font-weight-light mt-1"><%= chatroom.description%></p>
                                <div class="card-tags justify-content-start">
                                    <p class="text-white-50 mt-3 mr-3 mb-0 message-tag"><%= pluralize(chatroom.messages.count, 'message')%></p>
                                    <p class="text-white-50 mt-3 mb-0 category-tag">#<%= chatroom.category %></p>
                                </div>
                            </div>
                        </div>
                    <% end %>
                <% end %>
            </div>
        </div>
    </div>
</body>